{
  "presets": ["react"],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters"
  ]
}
